.footer-2 {
  background-color: #000000; 
  padding: 20px 0; 
  margin-top: -75px;
}

.bottom-link {
  width: 100%;
}

.container {
  max-width: 1200px; 
}



.text-41 {
  font-size: 0.875rem; 
  color: #6c757d;
}
